<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categorías de Comida</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">TELEMEAL</h1>

    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <form class="input-group">
                <input type="text" class="form-control" placeholder="Search for a meal">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 text-right">
            <a th:href="@{/listarFavoritos}">
                <button id="list-favorites" class="btn btn-success">List my favorites</button>
            </a>
        </div>
    </div>

    <div class="row">
        <div th:each="categoria : ${lista}" class="col-md-4 mb-4">
            <div class="card h-100">
                <img th:src="${categoria.strCategoryThumb}" class="card-img-top" alt="Imagen de categoría">
                <div class="card-body">
                    <h5 th:text="${categoria.strCategory}" class="card-title text-center"></h5>
                    <p th:text="${categoria.strCategoryDescription}" class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>